.emailo {
  --purple-light: #e9d5ff;
  --black: #000000;
  --white: #ffffff;
  --gray-2: #e5e5e5;
  --gray-3: #d4d4d4;
}

.emailo .tiptap :first-child {
  margin-top: 0;
}

.emailo .tiptap ul,
.emailo .tiptap ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
}

.emailo .tiptap ul li p,
.emailo .tiptap ol li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.emailo .tiptap h1,
.emailo .tiptap h2,
.emailo .tiptap h3,
.emailo .tiptap h4,
.emailo .tiptap h5,
.emailo .tiptap h6 {
  line-height: 1.1;
  margin-top: 2.5rem;
  text-wrap: pretty;
}

.emailo .tiptap h1,
.emailo .tiptap h2 {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

.emailo .tiptap h1 {
  font-size: 1.4rem;
}

.emailo .tiptap h2 {
  font-size: 1.2rem;
}

.emailo .tiptap h3 {
  font-size: 1.1rem;
}

.emailo .tiptap h4,
.emailo .tiptap h5,
.emailo .tiptap h6 {
  font-size: 1rem;
}

.emailo .tiptap code {
  background-color: var(--purple-light);
  border-radius: 0.4rem;
  color: var(--black);
  font-size: 0.85rem;
  padding: 0.25em 0.3em;
}

.emailo .tiptap pre {
  background: var(--black);
  border-radius: 0.5rem;
  color: var(--white);
  font-family: "JetBrainsMono", monospace;
  margin: 1.5rem 0;
  padding: 0.75rem 1rem;
}

.emailo .tiptap pre code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

.emailo .tiptap blockquote {
  border-left: 3px solid var(--gray-3);
  margin: 1.5rem 0;
  padding-left: 1rem;
}

.emailo .tiptap hr {
  border: none;
  border-top: 1px solid var(--gray-2);
  margin: 2rem 0;
}
