@import "./partials/animations.css";
@import "./partials/blocks.css";
@import "./partials/code.css";
@import "./partials/collab.css";
@import "./partials/lists.css";
@import "./partials/placeholder.css";
@import "./partials/table.css";
@import "./partials/typography.css";
@import "./globals.css";

.emailo {
  * {
    font-family: Arial, Helvetica, sans-serif;
    font-feature-settings: normal;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    color: rgb(0, 0, 0);
  }

  .root {
    @apply w-full mx-auto;
  }

  .ProseMirror {
    @apply caret-black dark:caret-white outline-0 pr-8 pl-20 py-[20px] z-0 lg:pl-8 lg:pr-8 mx-auto max-w-[2400px];

    .selection {
      @apply inline-block;
    }

    .selection,
    *::selection {
      @apply bg-black/10 dark:bg-white/20 inline-block;
    }

    & > .react-renderer {
      @apply my-12 first:mt-0 last:mb-0;
    }

    &.resize-cursor {
      @apply cursor-col-resize;
    }

    .ProseMirror-gapcursor {
      @apply relative w-full max-w-[2400px] mx-auto;

      &:after {
        @apply border-t-black/40 dark:border-t-white/40 w-full -top-[1.5em] max-w-[2400px] mx-auto left-0 right-0;
      }
    }
  }

  [data-theme="slash-command"] {
    width: 1000vw;
  }
}
